* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
    position: relative;
}

body {
    font: 14px 'Roboto Slab', serif;
}

.main_container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.main_wrap {
    min-height: 100%;
    display: flex;
    max-width: 900px;
    margin: 0 auto;
}

aside {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 187, 182, 1)), to(rgba(30, 98, 138, 1)));
    background: -o-linear-gradient(top, rgba(8, 187, 182, 1) 0%, rgba(30, 98, 138, 1) 100%);
    background: linear-gradient(to bottom, rgba(8, 187, 182, 1) 0%, rgba(30, 98, 138, 1) 100%);
    flex-basis: 200px;
    color: #fff
}

.main_container_chat {
    flex-grow: 1;
    position: relative;
    background-color: #F3F3F7;
}

.form_message {
    overflow: hidden;
    z-index: 1;
    position: relative;
    background-color: #FFF;
    padding: 18px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 101px;
}

.modal_autorization-input,
#input_message {
    box-shadow: 1px 1px 3px 0px #cdcdcd;
    resize: none;
    background-color: #F3F3F7;
    color: #464646;
    border: 0;
    padding: 10px;
    width: 80%;
    line-height: 1.3;
    height: 65px;
    font-family: monospace;
    font-size: 16px;
}

input:focus,
textarea:focus {
    outline-color: #fff;
}

button:focus {
    outline-color: #168599;
}

#send_message:active {
    margin-top: 1px;
}

.btn_send-name,
#send_message {
    border-radius: 3px;
    font-weight: 400;
    box-shadow: 1px 1px 2px 0px #949494;
    width: 18%;
    color: #fff;
    border: none;
    padding: 7px;
    cursor: pointer;
    background: rgba(38, 172, 196, 1);
    background: -webkit-gradient(linear, left top, right top, from(rgba(38, 172, 196, 1)), to(rgba(23, 146, 167, 1)));
    background: -o-linear-gradient(left, rgba(38, 172, 196, 1) 0%, rgba(23, 146, 167, 1) 100%);
    background: linear-gradient(to right, rgba(38, 172, 196, 1) 0%, rgba(23, 146, 167, 1) 100%);
}

.box_shadow {
    height: 1px;
    width: 100%;
    box-shadow: 0px 1px 5px 0px #595959;
}

::-webkit-input-placeholder {
    /* Chrome */
    color: #b3b3b3;
    transition: opacity 250ms ease-in-out;
    font-family: monospace;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: #b3b3b3;
    transition: opacity 250ms ease-in-out;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #b3b3b3;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

 :-moz-placeholder {
    /* Firefox 4 - 18 */
    color: #b3b3b3;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

#messages {
    color: #565656;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 28px 15px;
    position: absolute;
    top: 102px;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
}

#messages,
#send_message,
#input_message {
    border-radius: 3px;
}

#messages li {
    display: flex;
    margin-bottom: 20px;
    align-items: stretch;
}

#messages .message_user-text {
    position: relative;
    padding: 13px 25px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 0px #cdcdcd;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.2;
    /* flex-grow: .8; */
    width: 77%;
    background-color: #e5e5e5;
}

#messages .author .message_user-name {
    margin-right: 0;
    margin-left: 10px;
}

#messages .message_user-name {
    /* flex-basis: 80px; */
    width: 10%;
    text-align: center;
    margin-right: 10px;
}

#messages .author {
    justify-content: flex-end;
}

#messages .author .message_user-text {
    background: #fff;
}

#messages .message_user-text:before {
    content: '';
    display: block;
    position: absolute;
}

#messages .message_user-text:before {
    width: 10px;
    height: 10px;
    top: 9px;
    transform: rotate(45deg);
    left: -4px;
    background-color: #e5e5e5;
    box-shadow: -1px 1px 3px -1px #b3b3b3;
}

#messages .author .message_user-text:before {
    background-color: #fff;
    right: -4px;
    left: auto;
    box-shadow: 1px -1px 1px -1px #9e9e9e;
}

.title_aside {
    font-size: 20px;
    font-weight: 600;
    padding: 37px 20px;
    height: 100px;
}

.aside_users-title {
    padding: 10px;
    padding: 5px 20px;
    /* margin-bottom: 20px; */
    font-size: 16px;
}

#aside_users {
    padding: 5px 20px;
}

.badge {
    color: #fff;
    background-color: #12E4F8;
    padding: 0 6px;
    min-width: 23px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
    margin-left: 7px;
    height: 23px;
    line-height: 23px;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
}

.message_user-img {
    width: 26px;
    height: 26px;
    /* border: 1px solid; */
    display: block;
    margin: 0 auto;
}

.message_user-name strong {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.user_name {
    padding: 22px 20px 16px;
}

#user-name {
    color: #fde900;
}

#aside_users>li {
    line-height: 1;
    margin: 8px 0;
}


/* -------- modal -------- */

.background_wrap {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    display: flex;
    background-color: rgba(61, 61, 61, 0.5);
    z-index: 99;
    justify-content: center;
    align-items: center;
}

.modal_authorization {
    padding: 20px 20px;
    width: 40%;
    height: 170px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 11px 0px #737373;
}

.modal_autorization-title {
    color: #2c2c2c;
    padding: 10px 0;
}

.modal_autorization-input {
    width: 100%;
    height: auto;
    padding: 4px 10px;
    margin-top: 17px;
}

.modal_autorization-close {
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn_send-name:active {
    margin-top: 11px;
}

.modal_autorization-close:active {
    margin-top: 1px;
}

.btn_send-name {
    width: auto;
    margin-top: 10px;
    float: right;
    cursor: pointer;
}

.invalid {
    border: 1px solid red;
    box-shadow: 1px 1px 3px 0px #ff9d9d;
}

.hint {
    color: red;
}